.container.myplans.content-section,.inner-container {
    width: 750px;
}
/* 
Home about section 
*/
h4.text-center.about-us.sub-title {
    margin-top: 20px;
}
/* 
Home slider section 
*/
.slider-item {
    align-items: unset !important;
    display: block !important;
}
.slider-title {
    color: #fff;
    padding-left: 60px;
}
.slider-description {
    padding-left: 60px;
    font-size: 18px;
}
.slider-button {
    padding: 5px 42px;
    margin-left: 60px;
    background: #36A004;
    border-radius: 10px !important;
    border-color: #36A004;
    border-style: hidden;
    font-size: 30px;
}
.slider-content {
    position: absolute;
    width: 100%;
    overflow: hidden;
    margin-top: 85px;
}
.slider-images {
    width: 100%;
}
.row.slider-content.text-left {
    width: 100%;
    overflow: hidden;
    margin-top: 10%;
}
/* 
Home coaching course section 
*/
.bottom-border-line {
    border-bottom: 3px solid #369f04;
    width: 3%;
}
.course-images{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    padding: 15px;
    border-top-left-radius: 16em 11.5em;
    border-top-right-radius: 32em 14em;
    border-bottom-right-radius: 20em 19.5em;
    border-bottom-left-radius: 23em 8em;
}
.container-fluid.coaching-course-section {
    background-color: #F4F6FB;
}
.course-title {
    font-weight: bold;
    color: #ED1E23;
}
.course-detail {
    overflow: hidden;
    height: 70px;
    padding: 0 15px;
    text-align: justify;
}
.course-title {
    padding: 0px 15px;
}
.coaching-grid {
    background-color: #fff;
    border-radius: 30px;
    padding-bottom: 10px;
    margin-top: 25px;
}
.coaching-link{
    color:#A6A6A6;
}
/* 
Home reviews section 
*/
.review-images {
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding: 10%;
}
.review-description {
    color: #000;
    font-size: 22px;
}
.card-title {
    color: #000;
}
.card {
    border: 0px;
}
img.float-left.rounded-circle.z-depth-2 {
    margin-right: 30px;
    width: 125px;
    height: 125px;
}
.message {
    text-align: left;
    color:#000;
    margin-bottom: 15px,
}
p.card-text.review-description {
    margin-bottom: 40px;
    white-space: break-spaces;
}
h4.text-center.coaching-title {
    margin-top: 30px;
}
/* Plan Page Css */
.col-md.text-center.plan-title {
    margin: 75px 0px;
}
.myplan-title {
    background-color: #F4F6FB;
}
.myplan-section{
    background-color: #EBEBEB;
}
.container.myplans {
    background-color: #fff;
    border-radius: 15px;
}
.plans {
    box-shadow: 0rem 0.25rem 1rem 0.25rem rgba(0,0,0,.15)!important;
    border-radius: 10px;
    padding: 0;
}
.plans-table td {
    border: 0;
    padding: .5rem;
}
span.price-label {
    color: #36A004;
}
/* Filter Page */
.row.pl-5.p-3.filter-section {
    background-color: #F4F6FB;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #36A004;
    background-color: #36A004;
}
.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}
.custom-control-input:disabled~.custom-control-label::before, .custom-control-input[disabled]~.custom-control-label::before {
    background-color: #B4B4B4;
}
button.btn.btn-success.btn-lg.btn-block.rounded-bottom.btn-filter{
    background: linear-gradient(to right, #369f04, #257300);
    border-color: #349a03;
    border-style: hidden;
    font-weight: bold;
    border-radius: 0px 0px 10px 10px !important;
}
form.coach-ratting-form {
    width: 100%;
}
label.custom-control-label.pl-3.check-title {
    cursor: pointer;
}
/* Cards Page */
.row.card-buttons {
    background-color: #36A103;
    border-radius: 0px 0px 10px 14px;
}
button.btn.btn-lg.btn-block.btn-filter.text-white.add-card-button{
    border-right: 2px solid #FFFFFF;
    border-radius: 0;
}
button.btn.btn-lg.btn-block.btn-filter.text-white.continue-button{
    border-left: 2px solid #FFFFFF;
    border-radius: 0;
}
.card-images{
    width: 25px;
}
/* End Cards Page */
/* Help Center Page */
.container.myplans.help-center {
    padding-bottom: 30% !important;
}
/* End Help Center Page */
/* add card  */
.add-card-form {
    width: 100%;
    padding: 15px;
    background-color: #F4F6FB;
    border-radius: 10px;
}
.form-control {
    border: 1px solid #f4f6fb;
}
/* End add card  */
/* coach filter page */
.ratting-count{
    margin-top: 18px;
}
/* User :  Booksession   */
.booksession-input{
    border: 1px solid #ced4da;
}
/* User : cards page */
.cards-border {
    border: 2px solid #40ad05;
    border-radius: 15px !important;
}